SECRET_KEY=muda-esta-chave-em-producao-para-algo-aleatorio-e-longo
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=cwm_db
DB_USER=cwm_user
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=5432

TIME_ZONE=Africa/Luanda
CORS_ALLOW_ALL=True
